body{
background-image: url(Imagenes/compu.avif);
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
background-size: cover;
color: antiquewhite;

}

.imagen{
    width: 275px;
    height: auto;
}

.imag{
    width: 200px;
    height: auto;
}
